h1 {
  width: 295px;
  height: 81px;
  font-family: "IM Fell DW Pica", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  margin-right: 99px;
}

.header {
  width: 1366px;
  height: 650px;
  margin: 0 auto;
}
.letter {
  color: #753524;
  font-family: "IM Fell DW Pica", serif;
}
p {
  position: absolute;
  width: 316px;
  height: 87px;
  left: 368px;
  top: 277px;
  font-family: "IM Fell DW Pica", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
}
.bg {
  background-image: url(../img/back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  position: relative;
  width: 100%;
  height: 113%;
  display: flex;
}
.column {
  margin-right: 20px;
  padding: 10px;
  display: inline-block;
  font-family: "IM Fell DW Pica", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}
.menu ul {
  padding-left: 0px;
}
.menu {
  width: 500px;
}
.column2 {
  width: 70px;
  height: 32px;
  font-family: "IM Fell DW Pica", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-top: 29px;
  text-decoration: none;
}
.column2-1 {
  margin-right: 232px;
}
/*.button24 {
    display: inline-block;
    color: #E2DADA;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #34353A #000 #34353A;
    border-radius: 10px;
    background: linear-gradient(#34353A, #34353A) #34353A;
    transition: 0.2s;
    font-size: 14px;
    font-family: 'IM Fell DW Pica', serif;
    

  }*/
.button {
  position: absolute;
  margin-top: 420px;
  margin-left: 455px;
  border-radius: 10px;
  border-width: 2px 0;
  border-style: solid none;
  padding: 0.2em 1em;
  background: linear-gradient(#34353a, #34353a) #34353a;
  display: inline-block;
  border-color: #34353a #000 #34353a;
}
.button a {
  text-decoration: none;
  color: #e2dada;
  font-size: 14px;
  font-family: "IM Fell DW Pica", serif;
}
.button:hover {
    background: linear-gradient(#753524, #753524) #753524;
}
.button:active {
    background: linear-gradient( #753524, #753524) #753524;
}
