h1 {
  width: 295px;
  height: 81px;
  font-family: "IM Fell DW Pica", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  margin-right: 99px;
}

.header {
  width: 1366px;
  height: 650px;
  margin: 0 auto;
}
.letter {
  color: #753524;
  font-family: "IM Fell DW Pica", serif;
}
.merchandise {
  color: #753524;
  font-family: "IM Fell DW Pica", serif;
}
.other p {
  font-size: 36px;
}
.other {
  width: 400px;
height: 50px;
font-size: 36px;
font-family: "IM Fell DW Pica", serif;
padding-left: 500px;
padding-top: 30px;
}
p {
  position: absolute;
  width: 316px;
  height: 87px;
  left: 368px;
  top: 277px;
  font-family: "IM Fell DW Pica", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
}
.bg {
  background-image: url(../img/back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.merch {
  background-image: url(../img/merch.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  position: relative;
  width: 100%;
  height: 113%;
  display: flex;
}
.column {
  margin-right: 20px;
  padding: 10px;
  display: inline-block;
  font-family: "IM Fell DW Pica", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}
.menu ul {
  padding-left: 0px;
}
.menu {
  width: 500px;
}
.column2 {
  width: 70px;
  height: 32px;
  font-family: "IM Fell DW Pica", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-top: 29px;
  text-decoration: none;
}
.column2-1 {
  margin-right: 232px;
}
/*.button24 {
    display: inline-block;
    color: #E2DADA;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #34353A #000 #34353A;
    border-radius: 10px;
    background: linear-gradient(#34353A, #34353A) #34353A;
    transition: 0.2s;
    font-size: 14px;
    font-family: 'IM Fell DW Pica', serif;
    

  }*/
.button {
  position: absolute;
  margin-top: 420px;
  margin-left: 455px;
  border-radius: 10px;
  border-width: 2px 0;
  border-style: solid none;
  padding: 0.2em 1em;
  background: linear-gradient(#34353a, #34353a) #34353a;
  display: inline-block;
  border-color: #34353a #000 #34353a;
}
.button a {
  text-decoration: none;
  color: #e2dada;
  font-size: 14px;
  font-family: "IM Fell DW Pica", serif;
}
.button:hover {
    background: linear-gradient(#753524, #753524) #753524;
}
.button:active {
    background: linear-gradient( #753524, #753524) #753524;
}
.main {
  width: 1366px;
  height: 650px;
  margin: 0 auto;
}
.tying {
  width:230px;
  height: 25px;
  font-size: 20px;
  padding-top: 100px;
  padding-left: 100px;
}
.ProductItem {
  position: absolute;
 width: 250px;
 height: 100px;
 top: 425px;
left: 30px;
text-align: center;
font-family: "IM Fell DW Pica", serif;
font-size: 20px;
}
.ProductItem2 {
  width: 250px;
 height: 100px;
 position: absolute;
 text-align: center;
font-family: "IM Fell DW Pica", serif;
font-size: 20px;
top: 425px;
left: 370px;
}
.ProductItem3 {
  width: 950px;
 height: 100px;
 position: absolute;
 text-align: center;
font-family: "IM Fell DW Pica", serif;
font-size: 20px;
top: 425px;
left: 370px;
}
.ProductItem4 {
  width: 1650px;
 height: 100px;
 position: absolute;
 text-align: center;
font-family: "IM Fell DW Pica", serif;
font-size: 20px;
top: 425px;
left: 370px;
}
.button2 {
  position: absolute;
  margin-top: 510px;
  margin-left: 105px;
  border-radius: 10px;
  border-width: 2px 0;
  border-style: solid none;
  padding: 0.2em 2em;
  background: linear-gradient(#34353a, #34353a) #34353a;
  display: inline-block;
  border-color: #34353a #000 #34353a;
}
.button2 a {
  text-decoration: none;
  color: #e2dada;
  font-size: 14px;
  font-family: "IM Fell DW Pica", serif;
}
.button2:hover {
  background: linear-gradient(#753524, #753524) #753524;
}
.button2:active {
  background: linear-gradient( #753524, #753524) #753524;
}
.button3 {
  position: absolute;
  margin-top: 510px;
  margin-left: 445px;
  border-radius: 10px;
  border-width: 2px 0;
  border-style: solid none;
  padding: 0.2em 2em;
  background: linear-gradient(#34353a, #34353a) #34353a;
  display: inline-block;
  border-color: #34353a #000 #34353a;
}
.button3 a {
  text-decoration: none;
  color: #e2dada;
  font-size: 14px;
  font-family: "IM Fell DW Pica", serif;
}
.button3:hover {
  background: linear-gradient(#753524, #753524) #753524;
}
.button3:active {
  background: linear-gradient( #753524, #753524) #753524;
}
.button4 {
  position: absolute;
  margin-top: 510px;
  margin-left: 795px;
  border-radius: 10px;
  border-width: 2px 0;
  border-style: solid none;
  padding: 0.2em 2em;
  background: linear-gradient(#34353a, #34353a) #34353a;
  display: inline-block;
  border-color: #34353a #000 #34353a;
}
.button4 a {
  text-decoration: none;
  color: #e2dada;
  font-size: 14px;
  font-family: "IM Fell DW Pica", serif;
}
.button4:hover {
  background: linear-gradient(#753524, #753524) #753524;
}
.button4:active {
  background: linear-gradient( #753524, #753524) #753524;
}
.button5 {
  position: absolute;
  margin-top: 510px;
  margin-left: 1155px;
  border-radius: 10px;
  border-width: 2px 0;
  border-style: solid none;
  padding: 0.2em 2em;
  background: linear-gradient(#34353a, #34353a) #34353a;
  display: inline-block;
  border-color: #34353a #000 #34353a;
}
.button5 a {
  text-decoration: none;
  color: #e2dada;
  font-size: 14px;
  font-family: "IM Fell DW Pica", serif;
}
.button5:hover {
  background: linear-gradient(#753524, #753524) #753524;
}
.button5:active {
  background: linear-gradient( #753524, #753524) #753524;
}
.disc {
  width: 1366px;
  height: 650px;
  margin: 80px auto;
}
.heading {
  color: #fff;
  font-size: 36px;
font-family: "IM Fell DW Pica", serif;
padding-left: 500px;
    padding-top: 30px;
}
.disc {
  background-color: #383637;
}
.grid-photo {
  display: grid;
  justify-content: center;
  grid-template-areas: "a b c d" "e f g h";
  grid-gap: 0px 59px;
  margin-top: 0px;
}
.grid-photo-item  {
  width: 255px;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-1 {
  grid-area: a;
}
.grid-2 {
  grid-area: b;
}
.grid-3 {
  grid-area: c;
}
.grid-4 {
  grid-area: d;
}
.grid-5 {
  grid-area: e;
}
.grid-6 {
  grid-area: f;
}
.grid-7 {
  grid-area: g;
}
.grid-8 {
  grid-area: h;
}
a:hover img {
  border: 3px solid #753524;
  border-radius: 10px;
}
.limited {
  width: 1366px;
  height: 650px;
  margin: 0px auto;
  background-color: #B3B7C3;
}
.edition {
  font-size: 36px;
font-family: "IM Fell DW Pica", serif;
padding-left: 450px;
padding-top: 30px;
}
.grid-photo2 {
  display: grid;
  justify-content: center;
  grid-template-areas: "a b c d";
  grid-gap: 0px 59px;
  margin-top: 35px;
}
.grid-item  {
  width: 255px;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-9 {
  grid-area: a;
}
.grid-10 {
  grid-area: b;
}
.grid-11 {
  grid-area: c;
}
.grid-12 {
  grid-area: d;
}
.ev {
  width: 1366px;
  height: 650px;
  margin: 250px auto;
  background-color: #F2F4F8;
  position: relative;
}
.event {
  font-size: 36px;
font-family: "IM Fell DW Pica", serif;
padding-left: 650px;
padding-top: 30px;
}
.tour {
  color: #5B5E66;
  font-family: "IM Fell DW Pica", serif;
}
.gil {
  font-family: "IM Fell DW Pica", serif;
  color: #000;
  font-size: 24px;
  margin-left: 150px;
  font-weight: normal;
}
.sofi {
  font-family: "IM Fell DW Pica", serif;
  color: #000;
  font-size: 24px;
  margin-left: 150px;
  font-weight: normal;
}
.knit {
  font-family: "IM Fell DW Pica", serif;
  color: #000;
  font-size: 24px;
  margin-left: 150px;
  font-weight: normal;
}
.sun {
  font-family: "IM Fell DW Pica", serif;
  color: #000;
  font-size: 24px;
  margin-left: 920px;
  margin-top: -310px;
  font-weight: normal;
}
.mon {
  font-family: "IM Fell DW Pica", serif;
  color: #000;
  font-size: 24px;
  margin-left: 920px;
  margin-top: 60px;
  font-weight: normal;
}
.sat {
  font-family: "IM Fell DW Pica", serif;
  color: #000;
  font-size: 24px;
  margin-left: 920px;
  margin-top: 60px;
  font-weight: normal;
  position: relative;
}
.buy1 {
  position: absolute;
  margin-top: -320px;
  margin-left: 1125px;
  border-radius: 25px;
  border-width: 5px 0;
  border-style: solid none;
  padding: 0.7em 3.5em;
  background: linear-gradient(#551414, #551414) #551414;
  display: inline-block;
  border-color: #551414 #000 #551414;
}
.buy1 a {
  text-decoration: none;
  color: #e2dada;
  font-size: 14px;
  font-family: "IM Fell DW Pica", serif;
}
.buy2 {
  position: absolute;
  margin-top: -200px;
  margin-left: 1125px;
  border-radius: 25px;
  border-width: 5px 0;
  border-style: solid none;
  padding: 0.7em 3.5em;
  background: linear-gradient(#551414, #551414) #551414;
  display: inline-block;
  border-color: #551414 #000 #551414;
}
.buy2 a {
  text-decoration: none;
  color: #e2dada;
  font-size: 14px;
  font-family: "IM Fell DW Pica", serif;
}
.buy3 {
  position: absolute;
  margin-top: -75px;
  margin-left: 1125px;
  border-radius: 25px;
  border-width: 5px 0;
  border-style: solid none;
  padding: 0.7em 3.5em;
  background: linear-gradient(#551414, #551414) #551414;
  display: inline-block;
  border-color: #551414 #000 #551414;
}
.buy3 a {
  text-decoration: none;
  color: #e2dada;
  font-size: 14px;
  font-family: "IM Fell DW Pica", serif;
}
.frame6 {
  width: 1366px;
  height: 650px;
  margin: -250px auto;
  background-color: #383637;
}